@import "modules/variable";


@mixin sideset($fs) {
	color: #FFFFFF;
    font-size: $fs;
}

@mixin mainset($c, $fs) {
	color: $c;
    font-size: $fs;
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}