/* background-color */
$light-blue: #31aef0 !default;
$navy: #253141 !default;
$blue: #2f3e51 !default;
$white: #FFFFFF !default;
$gray: #AAAAAA !default;


/* font-color */
$dgrayf: #333333 !default;
$mgrayf: #999999 !default;
$grayf: #434A54 !default;
$whitef: #FFFFFF !default;

/* border-color */
$border: #eeeeee !default;
